/* Styling for feature icons and text */
.feature-icons {
    font-size: 100px;
    display: table;
    margin: auto;
}

.col-lg-4 h2, p {
    text-align: center;
}

.feature-btn {
    background-color: white;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 25px;
    transition-duration: 0.4s;
}
.feature-btn:hover {
    background-color: #bfbfbf;
}
