.form-container {
    border: 1px solid;
    border-radius: 25px;
    margin: 2% 20%;
    padding: 2%;
    text-align: center;
}
.form-inline {
    width: 100%;
}

#search-result {
    margin: 2% 20%;
    padding: 2%;
}

.card {
    display: inline-block;
    margin: 2%;
}
