<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <a href="/codesamples/codesamples.html"><span class="feature-icons"><i class="fas fa-laptop-code"></i></span></a>
    <h2>Code Samples</h2>
    <p>Contain code examples for different projects and labs (for teaching and personal purposes) </p>
    <p><a href="/codesamples/codesamples.html"><button class="feature-btn">View details &raquo;</button></a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <span class="feature-icons"><i class="fas fa-user-circle"></i></span>
    <h2>Personal Profile</h2>
    <p>My personal information such as resume, contact, etc.</p>
    <p><a href="#"><button class="feature-btn">View details &raquo;</button></a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <span class="feature-icons"><i class="fas fa-server"></i></span>
    <h2>Library</h2>
    <p>The memory palace that contains everything (that I want to store)</p>
    <p><a href="#"><button class="feature-btn">View details &raquo;</button></a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
