<div id="features" class="features-container">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <span class="feature-icons">
            <a href="codesamples/codesamples.html" target="_blank" data-toggle="tooltip" data-placement="top" title="Sample code for lab teaching">
                <i class="fas fa-laptop-code"></i>
            </a>
        </span>
        <h2>Code Samples</h2>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <span class="feature-icons">
            <a href="#" target="_blank" data-toogle="tooltip" data-placement="top" title="Personal information such as resume, contact, etc.">
                <i class="fas fa-user-circle"></i>
            </a>
        </span>
        <h2>Profile</h2>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <span class="feature-icons">
            <a href="#" target="_blank" data-toogle="tooltip" data-placement="top" title="My memory palace where I store everything">
                <i class="fas fa-server"></i>
            </a>
        </span>
        <h2>Library</h2>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-lg-4">
        <span class="feature-icons">
            <a href="https://github.com/caoba200" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </span>
        <h2>Github Link</h2>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <span class="feature-icons">
            <a href="https://www.linkedin.com/in/bao-d-c-6b6b5b5b/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </span>
        <h2>LinkedIn Profile</h2>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <span class="feature-icons">
            <a href="mailto:caoduybao2494@gmail.com" target="_blank">
                <i class="fas fa-paper-plane"></i>
            </a>
        </span>
        <h2>Email</h2>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>


