/* Styling for Footer */
footer {
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);

}
.social-media-icons {
    padding-left: 5%;
    font-size: 20px;
}
.social-media-icons a{
    color: #000000;
    font-size: 30px;
    margin-right: 2%;
}
.social-media-icons i:hover {
    color: #808080;
}

.copyright {
    padding-top: 5%;
}
.footer-nav {
    text-align: center;
    padding-top: 3%;
}
.footer-nav a {
    padding: 1% 5%;
    float: right;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 25px;
}
.footer-nav a:hover{
    background-color: #808080;
}
