/* Styling for the header */
.header {
    background-image: url('../../resources/images/palace.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100vh;
    /*padding-top: 62.41%; */
    position: relative;
}
.title-container {
    text-align: center;
    position: absolute;
    
    animation-name: bottom;
    animation-duration: 2s;
    animation-fill-mode: forwards;


    width: 50%;
    top: 10%;
    left: 20%;
    transform: translate(-50%, 0);
}
@keyframes bottom {
    from {
        margin: 80% 0 0 30%;
    }
    to {
        width: 50%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 0)
    }
}

.title-container > img {
    height: 30vh;
    border-radius: 50%;
    margin-bottom: 1%;
}

.title-container > h1 {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 0.5% 5% 0.5% 5%;
  /* margin: 27% 0 0 30%; */
  box-shadow: 5px 10px rgba(128, 128, 128, 0.5);
  border-radius: 25px;
}
