.top-nav:hover, .top-nav-active {
  background-color: #999999;
}

.top-nav-social-media-icons {
    width: 10%;
}
.top-nav-social-media-icons a{
    color: #000000;
    font-size: 20px;
    margin-right: 2%;
}
.top-nav-social-media-icons i:hover {
    color: #808080;
}
